/* styles.css */
:root {
    --color: #E5DFF5;
    --background: #363E21;
}

html * {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--color);
    font-family: orpheus-pro;
    font-family: helvetica Neue;
    height: 100%;
    width: 100vw;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    text-align: center;
    /* Center horizontally */



}


nav a {
    text-decoration: none;
    color: #fff;
}

.navbar {
    position: sticky;
    top: 0px;
    background-color: #363E21;
    color: #fff;
    /* margin-bottom: 0.5rem 0; */
    min-height: 10vh;
    justify-content: right;
    display: flex;
    align-items: center;
    text-align: right;

}

.muthoni {
    position: absolute;
    padding: 15px 20px;
    margin: 0px 10px;
    font-size: larger;
    left: 0px;

}

.Achievments {

    padding: 15px 20px;
    margin: 0px 10px;
    font-size: larger;




}

.contact {
    
    margin: 15px 20px;
    border-radius: 50%;
    border: 1px solid var(--color);
    padding: 15px 20px;
    font-size: larger;
    transition: top 5s ease;
}

.contact:hover {
    background-color: var(--color);
    color: var(--background);

}

.container-intro {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-weight: 100;
    align-items: center;
    margin: 0 auto;
    /* padding: 20px; */
    /* text-align: center; */

}

.iam {
    /* border: 1px solid red; */
    text-align: left;
    width: 65%;
    font-size: 1.5em;
    margin: 40px 0;
    font-weight: 20;
}

.product {
    /* border: 1px solid thistle; */
    font-size: 5em;
    font-family: cursive;
    line-height: 1;
    margin-bottom: 50px;
    position: relative;
    z-index: -10000;
    /* this move the text back to the proper position. May find a better way to do it later */
    left: -200px;
    color: var(--color); 
}

/* This is for the 2 h1 elements in the product div */
.product>h1 {
    margin: 0;
    padding: 0;
    font-size: 3em;
    text-size-adjust:auto;
}

/* This is to move the "engineer" text to the right */
.product h1:last-child {
    padding-left: 40%;
    
}

.container-intro .tagline {
    margin-left: auto;
    margin-right: 10vw;
    height: 20vh;
    font-size: 1.5em;
    font-weight: 20;
    padding-top: 15px;
    /* border: 1px solid blue; */
}

.container-mission {
  
    width: inherit;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    min-height: 60vh;
    height:max-content;
    margin: 0 auto;
    padding: 40px;
    text-align: center;

}
.column-mission {
    flex: 1;
    background-color: #363E21;
    padding: 20px;
    width: 60%;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-left: 40px;
}
.column-mission-details {
    flex: 1;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-right: 40px;
    font-size: 1.5em;

}
.container-contact {
    width: inherit;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    min-height: 100vh;
    height:max-content;
    margin: 0 auto;
    padding: 40px;
    text-align: center;

}
.column-contact {
    flex: 1;
    background-color: #363E21;
    padding: 20px;
    width: 60%;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-left: 40px;

}
.contact-option span {
    display: inline-flex;
    align-items: center;
}
.contact-option span:hover {
    text-decoration: underline;
}
.contact-option a img {
    vertical-align: middle;
    margin-right: 5px; /* Add some spacing between the icon and text */
}
.column-image {
    flex: 1;
    padding: 2px 2px;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    text-align: center;
    /* Center horizontally */
    margin-right: 40px;


}
.my_image {
    border: 2px solid;
    max-width: 100%;
    height: 100%;
    /* Adjust the image height as needed */
    object-fit: cover;
    /* Ensure the image covers the entire container */
    margin: 0 auto;
    /* Center the image horizontally */
    display: block;
    background-color: var(--color);
    border-radius: 15px 30px 10px 5px;
}



.container-details {
  
    width: inherit;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    min-height: max-content;

}
.column-left {
    flex: 1;
    background-color: #363E21;
    padding: 20px;
    width: 60%;
    justify-content: center;
    align-items: center;
    text-align: left;
   

}
.column-right {
    flex: 1;
    padding: 20px;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    text-align: left;
    font-size: 2em;
    font-family: cursive;

}
.column-right button{
    position: absolute;
   right: 5%;
   background-color: var(--background);
   color: var( --color);
   font-size: 2em;
   border: none;
}



.workPage {
    margin: 0 auto;
    width: 100vw;
    padding: 0 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
  }
  .jobSection {
    width: inherit;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    text-align: left;
    background-color: #363E21;
    padding: 0 40px;
    justify-content: center;
    align-items: center;
  }

.newsletter{
    text-align: left;
    font-size: 1.5em;
    margin: 2px 5%;

}
.container-articles {
   
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    min-height: auto;
    grid-template-rows: auto;
    gap:10px;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    text-align: center;
    padding: 10px 11px;
}
.column-finance, .column-tech, .column-medium {
    border: 5px solid black;
    border-radius: 50%;
    box-shadow: 0 0 10px var(--color);
    color: var(--color);
    text-overflow: break-word; 
    overflow: hidden;
    min-height: 300px;
    min-width: 300px;
    margin : 10px;
    
}

.column-finance, .column-tech, .column-medium h1{
    text-decoration: underline;
}

.column-finance, .column-tech, .column-medium button{
    text-decoration: underline;
}

.custom-hr {
    border: none;
    border-radius: 50%;
    /* Remove the default border */
    height: 2px;
    /* Set the desired height */
    background-color: var(--color);
    /* Change the color to your preferred color */
    margin: 10px 5%;
    /* Add margin for spacing */
}

footer {
    background-color: #363E21;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
.description, .descriptiontwo ,.descriptionthree, .descriptionfour,.descriptionfive  {
    display: none;
    font-size: 0.5em;
    font-family:'Courier New', Courier, monospace;
}

/* Style the button to indicate toggling */
.expand-button button {
    cursor: pointer;
}

